*{
    margin:0;
}

a {
    text-decoration: none;
}

/* NAV-BAR*/
nav {
    background-color: black;
    height: 3em;
    text-align: right;
    width: 100%;
    position: fixed;
    top: 0;
}

    

li {
    display: inline-block;
    margin-right: 4em;
   margin-top: 10px;
  
}

li a {
    color:white;
  
    font-size: 1.4em; 
}


li a:hover  {
    color: green;
    text-decoration: underline;
    
}

@media (max-width: 700px) {
    
    nav {
        text-align: center;
        margin:auto;
    }
}

@media (min-width: 700px) {
    #navbar li:last-child{
        display: none;
     
     }
}


/* WELCOME SECTION*/

#welcome-section {
    height: 100vh;
    background-color: black;
    color: white;
}

#welcome-section h1 {
    position:absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}



/* PROJECTS SECTION*/
#projects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-around;
    
}

#projects div{
    
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 10%;
  
    
}
#projects div {
    margin:auto;
    margin-top:  50px;
    margin-left: 40px;
    margin-right: 40px;
    height: 200px;
    text-align: center;
    border: 2px black solid;
}
#projects .project-tile p {
    font-size: 1.5em;
    color:black;
}

#projects img {
    height:  100%;
}

@media (max-width: 700px) {
    #projects div {
        margin:auto;
        margin-top:  50px;
       
   
    }
}





/*FOOTER SECTION*/
footer {
    background-color: black;
    text-align: center;
    width: 100%;
}
#contact i {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.479);
    margin-left: 10px;
    margin-top: 2px;
}

#contact i:hover{
    transition: .5s;
    color: white;
}


#contact p {
    color: white;
    font-size: 1.5em;
    
}



@media (max-width: 700px) {
    footer {
        height: 90vmax;
        display: inline-block;    
    }

    #contact i {
       font-size: 5em;
       margin-top: 1em;
       color:white;
    }

    
}

@media (min-width: 700px) {

    footer {
        background-color: black;
        
        text-align: center;
        position: fixed;
        width: 100%;
        height: 2.7em;
        bottom: 0;
    }
    #contact i{
        margin-left: 50px;
    }

    #contact p {
        display:none;
    }
}
